github "Swinject/Swinject"
github "Moya/Moya"
github "PureLayout/PureLayout"
github "RxSwiftCommunity/RxSwiftExt"
github "Swinject/SwinjectAutoregistration"
binary "https://raw.githubusercontent.com/couchbase/couchbase-lite-ios/master/Release/Carthage/CouchbaseLite-Community.json" ~> 2.0.0
