github "Swinject/Swinject"
github "Moya/Moya"
github "PureLayout/PureLayout"
github "RxSwiftCommunity/RxSwiftExt"
github "Swinject/SwinjectAutoregistration"
github "couchbase/couchbase-lite-ios" "2.0DB023"
